<div class="col-md-12 main-panel"  ng-controller="EcoleClasseSyntheseCtrl">

	<!--  Onglet pour le tri par classe, alphabétique, famille -->
	
	<!--  affichage des élèves + nombre de commandes + total de vente prix parent + montant restant à payer -->
	<!--  possibilité d'édition du nom de l'élève, de désactiver l'accès, de définir comme payé, de changer le mot de passe de l'élève -->
	<!-- possibilité de passer en mode Edition commande par classe -->
	
	
	<div class="text-center">
		<button ng-show="edition" class="btn btn-md btn-primary" ng-click="editer();" ><span class="glyphicon glyphicon-remove-circle"></span>  &nbsp;&nbsp;Annuler l'édition</button>
		<button ng-show="edition" class="btn btn-md btn-success" ng-click="sauver();" ><span class="glyphicon glyphicon-save"></span>  &nbsp;&nbsp;Enregistrer les modifications</button>
		<button ng-show="!edition" class="btn btn-md btn-primary" ng-click="editer();" ><span class="glyphicon glyphicon-edit"></span>  &nbsp;&nbsp;Editer les données des éléves</button>
	
		<h4 ng-show="messageInformation!=''">{{messageInformation}}</h4>
	
	</div>
	
	
	
	<div class="table-responsive col-md-12">
		<table class="table noBottomMargin">
			<thead>
				<tr>
					<th class="col-md-1"><a href="" ng-click="predicate = 'identifiant'; reverse=!reverse">Identifiant</a></th>
					<th class="col-md-1"><a href="" ng-click="predicate = 'nom'; reverse=!reverse">Nom de l'élève</a></th>
					<th class="col-md-1">Modification du mot de passe</th>
					<th class="col-md-1">Date de limite d'accès</th>
					<th class="col-md-1"><a href="" ng-click="predicate = 'nomClasse'; reverse=!reverse">Classe</a></th>
					<th class="col-md-1"><a href="" ng-click="predicate = 'nbCommandes'; reverse=!reverse">Nombre de commandes de l'élève</a></th>
					<th class="col-md-1"><a href="" ng-click="predicate = 'montantTotalParentTTC'; reverse=!reverse">Total des achat (TTC)</a></th>
					<th class="col-md-1"><a href="" ng-click="predicate = 'montantRestantAPayerParentTTC'; reverse=!reverse">Montant restant à payer (TTC)</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="eleve in eleves | orderBy:predicate:reverse">
					<td>{{eleve.identifiant}}</td>
					<td><div ng-show="!edition">{{eleve.nom}}</div><input  class="col-md-12" ng-show="edition" type="text" ng-model="eleve.newNom"/></td>
					<td><div ng-show="!edition">****</div><input  class="col-md-12" ng-show="edition" type="text" ng-model="eleve.newMotDePasse" ng-pattern="/[a-zA-Z0-9]*/"/></td>
					<td><div ng-show="!edition">{{eleve.dateLimiteAcces}}</div>
						<!-- Date picker -->
					    <div class="row" ng-show="edition">
					        <div class="col-md-12">
					            <p class="input-group">
					              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="eleve.newDateLimiteAcces" is-open="openedInstances[eleve.identifiant]"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fermer" clear-text="Effacer" current-text="Aujourd'hui" datepicker-append-to-body="true" />
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-default" ng-click="open($event, eleve.identifiant)"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </p>
					        </div>
					    </div>
					
					</td>
					<td>{{eleve.nomClasse}}</td>
					<td>{{eleve.nbCommandes}} 
						<button title="Visualiser les commandes de l'élève" class="btn btn-sm btn-success" ng-click="visualiserCommandes(eleve.identifiant)" ng-show="eleve.nbCommandes>0">
							<span class="glyphicon glyphicon-eye-open"></span>
						</button>
					</td>
					<td>{{eleve.montantTotalParentTTC | number : 2 }} €</td>
					<td ng-init="calculTotal(eleve.montantTotalParentTTC,eleve.montantRestantAPayerParentTTC)">
						<div ng-show="eleve.montantRestantAPayerParentTTC>0">{{eleve.montantRestantAPayerParentTTC | number : 2 }} €</div>
					</td>
				</tr>
				
				<tr>
					
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><h4>{{ montantTotal | number : 2 }} €</h4></td>
					<td><h4>{{ restantTotal | number : 2 }} €</h4></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="text-center">
		<button class="btn btn-lg btn-warning" ui-sref="generic({type : 'ecole'})" ><span class="glyphicon glyphicon-circle-arrow-left"	></span>  &nbsp;&nbsp;Retour</button>
	</div>

</div>
