<div class="col-md-12 panel panel-default" ng-controller='FamilleCommandeEnCoursCtrl' ng-init="loadCommande()">

	<h1> Commande </h1>
	<!-- Affichage de la liste des produits disponible dans la commande pour chaque élève -->
	<form class="form" role="form" action="#/famille/commande" ng-submit="saveCommande()">
		<accordion> 
			<accordion-group ng-repeat='commandeEleve in commandesEleve' heading="Eleve : {{commandeEleve.identifiantEleve}}" is-open="true" > 
			 
				<div class="col-md-12" ng-repeat="produit in commandeEleve.produitsCommandes">
						<div class="col-md-2"> </div>
						<div class="col-md-8 panel  panel-default">
							<div class="col-md-2">{{produit.produit.identifiant}}</div>
							<div class="col-md-4">{{produit.produit.designation}}</div>
							<div class="col-md-2">{{produit.produit.prix_parent_tcc}}</div>
							<div class="col-md-3"><input ng-value="produit.quantite"/></div>
							<div class="col-md-1">{{produit.montant}}</div>
						</div>
						<div class="col-md-2"> </div>
					
				</div>
				<div  class="col-md-12" ></div>
				<div  class="col-md-12" >
					<div class="col-md-5"> </div>
					<div class="col-md-2">
						<button class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
					</div>
					<div class="col-md-5"> </div>
				</div>
			</accordion-group> 
					
		</accordion>
	</form>
</div>
