<div class="col-md-12 panel panel-default" ng-controller="FamilleCtrl" >

	<div class="col-md-6 panel panel-default">
		
		<div ng-repeat="eleve in eleves">
			<div class="col-md-3 panel panel-default">
				
				<div class="col-md-12">{{eleve.nomEleve}}</div>
				<div class="col-md-12"><img class="img-responsive" ng-src="/data/{{eleve.cheminAccesImageEleve}}.jpg" /></div>
				<div class="col-md-12">{{eleve.nomClasse}}</div>
				<div class="col-md-12"><img class="img-responsive" ng-src="/data/{{eleve.cheminAccesImageGroupe}}.jpg" /></div>
			</div>
		</div>
		
	</div>



	<div class="col-md-6 panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Commandes</h3>
			
		</div>

		<div class="col-md-12 panel-default" ng-controller="FamilleCommandesCtrl" ng-init="getCommandesList()">
			<div class="col-md-5"></div>
			<div class="col-md-3">
				<!-- openCommande('{{commandes[0].identifiant}}') -->
				<a ui-sref="commander" class="btn btn-block btn-info">Commander</a>
				
			</div>
			<div class="col-md-5"></div>
			
			<div class="table-responsive col-md-12" >
			  <table class="table">
			  	<tr><th>Identifiant</th><th>Date de la commande</th><th>Montant</th></tr>
			    <tr ng-repeat="commande in commandes"><td>{{commande.identifiant}}</td><td>{{commande.dateCommande}}</td><td>{{commande.montant}}</td></tr>
			  </table>
			</div>

		</div>

	</div>
</div>

</div>
