.mygradient {
	margin:0px;
	
	background-image:	linear-gradient(#eee,white);
	
	

}
.gradient-reverse {
	background-image:	linear-gradient(white,#eee);
	
}
.main-panel {
  background-color: #fff;
}

.header-padding {
	margin-top: 0px;
	margin-bottom: 20px;
}

.noBottomMargin {
	margin-bottom: 0px;
}

//label:hover {
//    background: #f2f5ff;
//    border-radius:5px;
//    padding:2px 4px;
//}

