.mygradient {
	margin:0px;
	
	background-image:	linear-gradient(#eee,white);
	
	

}
.gradient-reverse {
	background-image:	linear-gradient(white,#eee);
	
}
.main-panel {
  background-color: #fff;
}

.header-padding {
	margin-top: 0px;
	margin-bottom: 20px;
}

.noBottomMargin {
	margin-bottom: 0px;
}

//label:hover {
//    background: #f2f5ff;
//    border-radius:5px;
//    padding:2px 4px;
//}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 5px;
}

.light-padding {
	padding: 5px;
	text-align: center;
}
.no-padding {
	padding: 1px;
}
