.gradient {
	background-image:	linear-gradient(#eee,white);

}
.gradient-reverse {
	background-image:	linear-gradient(white,#eee);
}
.main-panel {
  background-color: #fff;
}

.header-padding {
	margin-top: 0px;
	margin-bottom: 20px;
}