<div class="col-md-12 main-panel" ng-controller='EcoleClasseCommandeCtrl'>


	<div class="col-md-12">
		<h4> Classe : {{classe.nom}}</h4>
		<!-- Affichage de la liste des élèves de classe en ligne et des produits en colonne -->
		<div class="table-responsive">
		 	<table class="table table-striped,noBottomMargin">
			 	<thead>
			 		<tr class="table-heading">
						<th class="col-md-1">Eleve</td>
						<th ng-repeat="produit in classe.modeleEtTarif.produits">
							{{produit.designation}}
						</th>
						<th>Total prix vente TTC</th>
						<th>Paiement effectué</th>
						<th>Actions</th>
						<th>Commentaire</th>
					</tr>
					<tr class="table-heading">
						<th class="col-md-1">&nbsp;</td>
						<th ng-repeat="produit in classe.modeleEtTarif.produits">
							{{produit.prixParentHT  | number : 2 }} €
						</th>
						<th>{{classe.montantTotalParentHT  | number : 2 }} €</th>
						<th class="text-center"><button class="btn btn-success btn-sm" ng-click="selectAllCheckbox()"><span class='glyphicon glyphicon-ok-circle'></button></th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="commandesEleve in commandesEleves">
						<td class="col-md-1">{{commandesEleve.eleve.identifiant}}</td>
						<td ng-repeat="produitCommande in commandesEleve.produitsCommandes">
						 	<input ng-model="produitCommande.quantite" class="form-control" ng-change="calcul(commandesEleve,produitCommande)"/>
						</td>
						<td>
							{{commandesEleve.montantTotalParentHT  | number : 2 }} €
						</td>
						<td>
							<div class="checkbox text-center">
							   <input type="checkbox" ng-model="commandesEleve.paiementEffectue">
							</div>
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							{{commandesEleve.commentaire}}
						</td>
					</tr>
							
				</tbody>
			</table>
		</div>
		
		
		
		<div  class="col-md-12" >
			<div class="col-md-2"> </div>
			<div class="col-md-2">
				<button class="btn btn-lg btn-warning btn-block" ui-sref="generic({type : 'ecole'})" ><span class="glyphicon glyphicon-circle-arrow-left"	></span>  &nbsp;&nbsp;Retour</button>
			</div>
			
			<div class="col-md-3">
				<button class="btn btn-lg btn-primary btn-block" ng-click="saveModifications()">Enregistrer  &nbsp;&nbsp;<span class="glyphicon glyphicon-save"></span></button>
			</div>
			
			<div class="col-md-3"> </div>
		</div>
		<div  class="col-md-12" >&nbsp;</div>
	</div>
</div>
