<!DOCTYPE html>
<html lang="fr" ng-app="ShellPhotosAngular">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<link rel="stylesheet" href="webjars/bootstrap/3.3.0/css/bootstrap.css"/>
	
	<script type="text/javascript" src="webjars/angularjs/1.3.1/angular.min.js"></script>
	
	<title>Sell photos</title>
	
	<!-- Custom scripts -->
	<link href="css/signin.css" rel="stylesheet" />
	<script type="text/javascript" src="js/sellphotos.js" ></script>
</head>

<body ng-controller="GlobalController">

	<div class="container">
		<form class="form-signin" role="form" ng-controller="UtilisateurController" action="#" ng-submit="getUtilisateur()">
			<h2 class="form-signin-heading">Bienvenue !</h2>
			<input type="text" class="form-control" placeholder="Identifiant" required autofocus ng-model="$parent.utilisateur.identifiant" />
			<input type="password" class="form-control" placeholder="Code d'accès" ng-model="$parent.utilisateur.codeAcces" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Entrer</button>
		</form>

	</div>
	<div width=100% >
		<div>Bonjour {{utilisateur.identifiant}} !</div>
		<div>Votre code d'accès est : {{utilisateur.codeAcces}}</div>
	</div>
	
</body>
</html>
