<div class="col-md-12 main-panel" ng-controller='FamilleCommandeEnCoursCtrl' ng-init="loadOrCreateCommande()">


	<div class="">
		<div class="row bs-wizard" style="border-bottom:0;">
		    <div class="col-xs-2">&nbsp;</div> 
		    <div class="col-xs-2 bs-wizard-step complete">
		      <div class="text-center bs-wizard-stepnum">Commande</div>
		      <div class="progress"><div class="progress-bar"></div></div>
		      <a href="#/famille/commande" class="bs-wizard-dot"></a>
		      <div class="bs-wizard-info text-center">Choisissez la quantité des articles que vous souhaitez commander</div>
		    </div>
		    
		    <div class="col-xs-2 bs-wizard-step disabled">
		      <div class="text-center bs-wizard-stepnum">Validation</div>
		      <div class="progress"><div class="progress-bar"></div></div>
		      <a href="#" class="bs-wizard-dot"></a>
		      <div class="bs-wizard-info text-center"></div>
		    </div>
		    
		    <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
		      <div class="text-center bs-wizard-stepnum">Payement</div>
		      <div class="progress"><div class="progress-bar"></div></div>
		      <a href="#" class="bs-wizard-dot"></a>
		      <div class="bs-wizard-info text-center"></div>
		    </div>
		    
		    <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
		      <div class="text-center bs-wizard-stepnum">Synthèse</div>
		      <div class="progress"><div class="progress-bar"></div></div>
		      <a href="#" class="bs-wizard-dot"></a>
		      <div class="bs-wizard-info text-center"></div>
		    </div>
		    <div class="col-xs-1">&nbsp;</div>
		</div>
	</div>


			

	<div class="col-md-2"></div>
	<div class="col-md-8">

		<h1> Commande </h1>
		<h4> Numéro de la commande : {{commandeEnCours.identifiant}}</h4>
		<!-- Affichage de la liste des produits disponible dans la commande pour chaque élève -->
		<accordion close-others="false"> 
			<accordion-group ng-repeat='commandeEleve in commandesEleve' heading="Eleve : {{commandeEleve.eleve.identifiant}}" is-open="true" > 
			 
			 	<div class="col-md-3">
			 		<img class="img-responsive img-thumbnail" ng-src="/data/{{commandeEleve.eleve.cheminAccesImageEleve}}.jpg" />
			 	</div>
			 	<div class="col-md-9">
				 	<div class="table-responsive">
					 	<table class="table table-striped noBottomMargin">
						 	<thead>
						 		<tr class="table-heading">
									<th class="col-md-1">Ref.</td>
									<th class="col-md-4">Designation</td>
									<th class="col-md-2">Prix uni. TTC</td>
									<th class="col-md-1">Quantité</td>
									<th class="col-md-2">&nbsp;</td>
									<th class="col-md-2">Montant</td>
								</tr>
							</thead>
						<tr ng-repeat="produit in commandeEleve.produitsCommandes">
								<td class="col-md-1">{{produit.produit.identifiant}}</td>
								<td class="col-md-4">{{produit.produit.designation}}</td>
								<td class="col-md-2">{{produit.produit.prixParentHT | toTTC:this | number : 2 }} €</td>
								<td class="col-md-1">
									<input ng-model="produit.quantite" class="form-control" ng-change="calcul(commandeEnCours,produit)"/>
								</td>
								<td class="col-md-1">
									<div class="btn-group" role="group" aria-label="Ajouter ou retirer un élément">
									  <button type="button" class="btn btn-default" ng-click="removeQuantite(commandeEnCours,produit)">-</button>
									  <button type="button" class="btn btn-default" ng-click="addQuantite(commandeEnCours,produit)">+</button>
									</div>
								</td>
								<td class="col-md-1">{{produit.montantParentHT | toTTC:this | number : 2 }} €</td>
							</tr>
								
							
						</table>
					</div>
			 	</div>
				
				<div  class="col-md-12" ></div>
				
			</accordion-group> 
					
		</accordion>
		
		
		<div  class="col-md-8" ></div>
		<div  class="col-md-2" ><h4>Total du panier :</h4></div>
		<div  class="col-md-2" ><h4>{{commandeEnCours.montantParentHT | toTTC:this | number : 2 }} €</h4></div>
		
		<div  class="col-md-12" >&nbsp;</div>
		
		<div  class="col-md-12" >
			<!-- <div class="col-md-2"> </div> -->
			<div class="col-md-4">
				<button class="btn btn-lg btn-warning btn-block" ui-sref="generic({type : 'famille'})" ><span class="glyphicon glyphicon-circle-arrow-left"	></span>  &nbsp;&nbsp;Retour</button>
			</div>
			
			<div class="col-md-4">
				<button class="btn btn-lg btn-primary btn-block" ng-click="saveProduitsCommandeEnCours()">Enregistrer le panier &nbsp;&nbsp;<span class="glyphicon glyphicon-save"></span></button>
			</div>
			
			<div class="col-md-4">
			
				<button class="btn btn-lg btn-success btn-block" ng-click="saveProduitsCommandeEnCoursAndGo()" ng-disabled="commandeEnCours.montantParentHT==0">Valider le panier &nbsp;&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></button>
			</div>
			<!-- <div class="col-md-3"> </div> -->
		</div>
		<div  class="col-md-12" >&nbsp;</div>
	</div>
</div>
