<div class="col-md-12 panel panel-default" ng-controller='FamilleCommandeEnCoursCtrl' ng-init="loadOrCreateCommande()">

	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="disabled"><a href="#/famille/commande">Commande</a></li>
		<li role="presentation" class="active" class="disabled"><a href="#/famille/commande">Mode de payement</a></li>
		<li role="presentation" class="disabled"><a href="#/famille/commande">Validation</a></li>
		<li role="presentation" class="disabled"><a href="#/famille/commande">Payement</a></li>
		<li role="presentation" class="disabled"><a href="#/famille/commande">Récapitulatif</a></li>
	</ul>

	<div class="col-md-2"></div>
	<div class="col-md-8 panel panel-default">
		<h1> Mode de payement </h1>
		
		<div class="col-md-4">&nbsp;</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Choisissez votre mode de paiement :</div>
			<div class="panel-body">
				<div class="form-group">
				  <div class="col-md-1">
				  	<input type="radio" ng-model="commandeEnCours.moyenPayement" name="moyenDePayement" id="moyen1" value="ESPECE">
				  </div>
				  <label for="moyen1" class="col-md-11 control-label">Espèce</label>
				</div><!-- /form-group -->
				<div class="form-group">
				  <div class="col-md-1">
				  	<input type="radio" ng-model="commandeEnCours.moyenPayement" name="moyenDePayement" id="moyen2" value="CHEQUE">
				  </div>
				  <label for="moyen2" class="col-md-11 control-label">Chèque</label>
				</div>
				<div class="form-group">
				  <div class="col-md-1">	
				  	<input type="radio" ng-model="commandeEnCours.moyenPayement" name="moyenDePayement" id="moyen3" value="INTERNET">
				  </div>
				  <label for="moyen3" class="col-md-11 control-label">Internet</label>
				</div>
			</div>
		</div>
		
		<div  class="col-md-12" >&nbsp;</div>
		
		<div  class="col-md-12" >
			<div class="col-md-2"> </div>
			<div class="col-md-2">
				<button class="btn btn-lg btn-warning btn-block" ui-sref="commander" ><span class="glyphicon glyphicon-circle-arrow-left"	></span>  &nbsp;&nbsp;Retour</button>
			</div>
			
			<div class="col-md-3">
				<button class="btn btn-lg btn-primary btn-block" ng-click="saveModePaiementCommandeEnCours()">Enregistrer  &nbsp;&nbsp;<span class="glyphicon glyphicon-save"></span></button>
			</div>
			
			<div class="col-md-2">			
				<button class="btn btn-lg btn-success btn-block" ui-sref="validation" ng-click="saveModePaiementCommandeEnCours()">Valider  &nbsp;&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></button>
			</div>
			<div class="col-md-3"> </div>
		</div>
	</div>
</div>
