<div class="col-md-12 main-panel" ng-controller='FamilleCommandeEnCoursValidationCtrl' ng-init="getCommande()">

	<div class="">
		<div class="row bs-wizard" style="border-bottom:0;">
		    <div class="col-xs-2">&nbsp;</div> 
		    <div class="col-xs-2 bs-wizard-step complete">
		      <div class="text-center bs-wizard-stepnum">Commande</div>
		      <div class="progress"><div class="progress-bar"></div></div>
		      <a href="#/famille/commande/payement" class="bs-wizard-dot"></a>
		      <div class="bs-wizard-info text-center"></div>
		    </div>
		    
		    <div class="col-xs-2 bs-wizard-step complete">
		      <div class="text-center bs-wizard-stepnum">Validation</div>
		      <div class="progress"><div class="progress-bar"></div></div>
		      <a href="#/famille/commande/payement" class="bs-wizard-dot"></a>
		      <div class="bs-wizard-info text-center"></div>
		    </div>
		    
		    <div class="col-xs-2 bs-wizard-step complete"><!-- active -->
		      <div class="text-center bs-wizard-stepnum">Payement</div>
		      <div class="progress"><div class="progress-bar"></div></div>
		      <a href="#/famille/commande/payement" class="bs-wizard-dot"></a>
		      <div class="bs-wizard-info text-center"></div>
		    </div>
		    
		    <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
		      <div class="text-center bs-wizard-stepnum">Synthèse</div>
		      <div class="progress"><div class="progress-bar"></div></div>
		      <a href="#" class="bs-wizard-dot"></a>
		      <div class="bs-wizard-info text-center"></div>
		    </div>
		    <div class="col-xs-1">&nbsp;</div>
		</div>
	</div>

	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1> Payement </h1>
		<h4> Numéro de la commande : {{commandeEnCours.identifiant}}</h4>
		
		<div class="col-md-4">&nbsp;</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Payement choisi : {{comandeEnCours.moyenPayement}}</div>
			<div class="panel-body">
				<div class="" ng-if="internet">
					Vous avez choisi le payement par internet, vous allez être automatiquement redirigé vers le site de payement.
				</div>
				<div class="" ng-if="cheque">
					Vous avez choisi le payement par cheque, merci de le transmettre le plus rapidement possible au responsable des photographies scolaires de votre établissement.
				</div>
				<div class="" ng-if="espece">
					Vous avez choisi le payement par espèce, merci de tout transmettre le plus rapidement possible au responsable des photographies scolaires de votre établissement.
				</div>
			</div>
		</div>
		
		<div  class="col-md-12" >&nbsp;</div>
		
		<div class="text-center">
			<button class="btn btn-lg btn-success" ui-sref="generic.recapitulatif">Continuer  &nbsp;&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></button>
		</div>
		
		<div  class="col-md-12" >&nbsp;</div>
	</div>
</div>
